/* Just copy-pasta stuff from Shape of CSS and the other linked site. my goal may be to fail this the first time, mostly because it is giving me SUCH a headache  */

.robot-container {
    width: 900px;
    height: 900px;
    /* border: 2px solid white; */
    margin: 75px auto;
}

.robot-face-shape {
    margin: auto;
    height: 500px;
    width: 500px;
    border: 20px solid green;
    border-radius: 25%;
    background: silver;
    background-image: url('https://fastly.picsum.photos/id/893/4342/2895.jpg?hmac=fQQo3ufVfIXHYgZrJgCHACadJMc9Uw0We_nFVRIbzcM');
    background-size: cover;
    position: relative;
    top: 200px;
}
/* copied from Shapes */
.robot-eye-left {
    position:relative;
    top: 25px;
    left: 25px;
}

.spirallefteye{
    position:relative;
    top: -175px;
    left: 25px;
    --b: 10px;  /* border thickness */
    --s: 150px; /* preferred size shape */
    --c: #1d1b3b;

    width: round(var(--s),4*var(--b));
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
    repeating-radial-gradient(calc(2*var(--b)) at top,#0000 -1px,var(--c) 0 calc(50% - 1px),#0000 50% calc(100% - 1px)) calc(50% + var(--b)) 100%, 
    repeating-radial-gradient(calc(2*var(--b)) at bottom,var(--c) -1px,#0000 0 calc(50% - 1px),var(--c) 50% calc(100% - 1px)) 50% 0;
    background-size: 150% 50%;
    background-repeat: no-repeat;
    mask: 
    radial-gradient(calc(1.5*var(--b)) at calc(100% - var(--b)/2) 0, #0000 calc(100%/3), #000 calc(100%/3 + 1px) 110%, #0000 0) calc(50% + var(--b)/2) 
    100%/calc(3*var(--b)) 50% exclude no-repeat, 
    conic-gradient(#000 0 0);

}

.lefteyebase{ 
    position:relative;
    top: 5px;
    left: 5px;
    height: 200px;
    width: 200px;
    /* background: yellow; */
    background-image: conic-gradient(red, orange, yellow, green, blue, indigo, violet);
    border-radius: 50%;
}

.robot-eye-right {
    position: absolute;
    top: 35px;
    left: 250px;
    height: 100px;
    width: 100px;
    /* border: 3px solid white; */
}

.righteyebase{
    position: relative;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 200px;
    background-image: radial-gradient(blue, rgb(58, 230, 6), green);
    border-radius: 50%;
}

.rightcrosseye{
    position: relative;
    top: -165px;
    left: 39px;
    --c: #e621dc;
    height: 125px;
    aspect-ratio: 1;
    box-shadow: 0 0 0 35px inset var(--c);
    border-image: conic-gradient(var(--c) 0 0) 50%/calc(50% - 15px);
    /* clip-path: circle(); remove this if you don't want a rounded shape */
    rotate: 45deg;
}

/* copied from Shapes */
.robot-ear-left {
    position: relative;
    top: -100px;
    left: 90px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid rgb(5, 187, 20);
    border-bottom: 50px solid transparent;
}
/* copied from Shapes  */
.robot-ear-right {
    position: relative;
    top: -200px;
    left: 705px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid rgb(208, 255, 0);
    border-bottom: 50px solid transparent;
}

/* copied from Shapes */
.robot-nose {
    position: relative;
    left: 150px;
    top: -125px;
    border: 3px solid rgb(30, 255, 0);
    border-radius: 50%;
    background-color: rgba(105, 38, 49, 0.61);
    height: 5em;
    width: 9em;
}

/* for mouth position and apperance */
.robot-teeth {
    position: relative;
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 41px, 41px;
    row-gap: 2px;
    column-gap: 2px;
    left: 100px ;
    top: -100px;
    height: 95px;
    width: 265px;
    border: 5px solid;
    border-radius: 10%;
    background-color: #0471b9;
    padding: 4px 5px 3px;
}

/* for apperance */
.robot-tooth {
    height: 35px;
    width: 37px;
    border-radius: 30%;
    border: 2px solid gold;
    background-color: white;
}
/* for positioning */
.toothone{
    /* position: absolute;
    left: 120px;
    top: 43px; */
    background-color: orange;
}
.toothtwo{
    /* position: absolute;
    top: 43px; */
    background-color: yellow;
}
.tooththree{
    /* position: absolute;
    top: 0px;
    left: 40px; */
    background-color: green;
}
.toothfour{
    /* position: absolute;
    top: 43px;
    left: 200px; */
    background-color: blue;
}
.toothfive{
    /* position: absolute;
    top: 40px;
    left: 40px; */
    background-color: purple;
}
.toothsix{
    background-color: pink;
    /* position: absolute;
    top:0px;
    left: 120px; */
}
.toothseven{
    background-color: rgb(252, 194, 86);
    /* position: absolute;
    top: 0px;
    left: 200px; */
}
.tootheight{
    background-color: rgb(255, 255, 133);
    /* position: absolute;
    top: 0px ;
    left: 80px; */
}
.toothnine{
    background-color: rgb(92, 204, 92);
    /* position: absolute;
    top: 0px;
    left: 160px;*/
}
.toothten{
    background-color: rgb(119, 119, 245);
    /* position: absolute;
    top: 40px;
    left: 160px; */
}
.tootheleven{
    background-color: rgb(187, 95, 187);
    /* position: absolute;
    top: 40px;
    left: 80px; */
}
.toothtwelve{
    background-color: red;
    /* position: absolute;
    top: 1px;  */
}

.robot-hair-style {
    position: relative;
    top: -610px;
    left: 230px;
    width: 475px;
    height: 100px;
    /* border: 3px solid blue; */
    display: grid;
    grid-template-columns: repeat(5, 85px);
}

.robot-hair-one {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 rgb(102, 20, 209);
}

.robot-hair-two {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 rgb(0, 255, 55);
}

.robot-hair-three {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 rgb(172, 21, 21);
}
/* For positioning */
.hairone{
    position: relative;
}
.hairtwo{
    position: relative;

}
.hairthree{
    position: relative;

}
.hairfour{
    position: relative;
}
.hairfive{
    position: relative;
    /* top: -315px; */
    /* right: 145px; */
}